/* Coolors Exported Palette - coolors.co/695958-b6c8a9-c8ead3-cfffe5-cedada */

$color1: #695958; //rgba(105, 89, 88, 100)
$color2: #b6c8a9; //rgba(182, 200, 169, 100)
$color3: #c8ead3; //rgba(200, 234, 211, 100)
$color4: #cfffe5; //rgba(207, 255, 229, 100)
$color5: #cedada; //rgba(206, 218, 218, 100)
$color6: #FBFBF8; //rgba(206, 218, 218, 100)

$navColor: $color1;
$navTextColor: $color2;
$subNavBackgroundColor: $color2;
$navTextAltColor: $color3;
$mainBackgroundColor: $color5;
$contentBackgroundColor: $color6;

$buttonHover: #C8DCBA;
$buttonSecondary: #eee;
$buttonSecondaryBorder: #aeaeae;
$buttonSecondaryHover: #e3e3e3;
$buttonSecondaryActive: #E2DEDE;

