/* Coolors Exported Palette - coolors.co/47e5bc-81e4da-aecfdf-9f9fad-93748a */

$color1: #47e5bc; //rgba(71, 229, 188, 100)
$color2: #81e4da; //rgba(129, 228, 218, 100)
$color3: #aecfdf; //rgba(174, 207, 223, 100)
$color4: #9f9fad; //rgba(159, 159, 173, 100)
$color5: #93748a; //rgba(147, 116, 138, 100)
