/* Coolors Exported Palette - coolors.co/54428e-8963ba-afe3c0-90c290-688b58 */

$color1: #54428e; //rgba(84, 66, 142, 100)
$color2: #8963ba; //rgba(137, 99, 186, 100)
$color3: #afe3c0; //rgba(175, 227, 192, 100)
$color4: #90c290; //rgba(144, 194, 144, 100)
$color5: #688b58; //rgba(104, 139, 88, 100)
