/* Coolors Exported Palette - coolors.co/565264-706677-a6808c-ccb7ae-d6cfcb */

$color1: #565264; //rgba(86, 82, 100, 100)
$color2: #706677; //rgba(112, 102, 119, 100)
$color3: #a6808c; //rgba(166, 128, 140, 100)
$color4: #ccb7ae; //rgba(204, 183, 174, 100)
$color5: #d6cfcb; //rgba(214, 207, 203, 100)
