/* 
https://coolors.co/app/434db0-f44c09-7441a5-9a7470-ffd63d
blue, orange, purple, brownish?, yellow
*/

$color1: #434db0; //rgba(67, 77, 176, 100)		
$color2: #f44c09; //rgba(244, 76, 9, 100)
$color3: #7441a5; //rgba(116, 65, 165, 100)
$color4: #9a7470; //rgba(154, 116, 112, 100)
$color5: #ffd63d; //rgba(255, 214, 61, 100)
